
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    background-color: whitesmoke;
    color: #ff9900;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background: #0c2e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 3px solid;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}


.about-content {
    height: 45vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    padding: 50px 30px 50px 80px; 
    max-width: 500px;
} 

.about-content h1{
        position: absolute;
        font-size: 38px;
        font-weight: 700;
        line-height: 1.2;
        margin: 50px 50px 100px 80px;
}

/*.about-content h3{
        position: absolute;
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
} */

.about-content p{
        position: absolute;
        font-size: 23px;
        font-weight: 548;
        margin: 370px 580px 0px 80px;
}  